<style type="text/css">
	.a{color: white}
</style>
<title> Users </title>
<a href="/logout"> Sign out </a>

<h1>
<!-- Start a new game number <a href="/game"></a> -->
<a href="/game">New Game</a> 
</h1>
