<html>
<style>
  
  body{ 
    /*background-repeat: no-repeat;*/
    background-size: 200px 200px;
    background-image: url("signup.png");
    background-repeat: repeat;
  }
  label{ 
    font-size:26px;
    margin: 0.3%;
    font-weight: bold;
    color: green; 
  }
  h5{ 
    font-size: 24px; 
    color: black;
  }
  .area{
    width:380px;
    position: relative;
    left: 40%;
    top: 10%;
    background-image: url('white.png');
  }
  h1{
    text-align: center;
  }
  #message{
    color: red;
  }
</style>
<body>
  <div class="area" align="center">
  <h1>Log in</h1>
  <form action="/login" method="POST">
    <label for="username">Username:
      <input name="username" type="text" style="height: 25px; width: 158px; font-size: 25px;"></br>
    </label>
    <label for="password">&nbspPassword:&nbsp
       <input name="password" type="password" style="height: 25px; width: 158px; font-size: 25px;">
    </label> </br></br>
    <input type="submit" value="Log In" style="height: 18px; width: 168px; font-size: 25px;">
  </form>
  </br><h5>&nbsp&nbsp&nbspDon't have an account? <a href="/signup"> Sign up</a></br> </h5>
  </div>
</body>
</html>