<!-- IGNORE THE FILE (NOT IN USE FOR NOW) -->
<html>
<link href="./spades.ico" rel="shortcut icon">
<title> Game room	 </title>
<a href="/logout"> Sign out </a>
  <body>
    <div id="wrapper">
      <canvas id="screen" width="500" height="500"></canvas>
      <div id="message">
        Waiting for players...
      </div></br>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="./dealer.js"></script>
  </body>
</html>