<!doctype html>
<html>
  <head>
    <title>Lobby</title>
    <!-- <link type="text/css" rel="stylesheet" href="lightbikes.css"> -->
  </head>
  <body>
    <h1>Game Lobby</h1>
    <div id="wrapper">
      <canvas id="screen" width="200" height="200"></canvas>
      <div id="message">
        Waiting for players...
      </div></br>
      <!-- <button>Deal</button> -->
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="dealer.js"></script>
  </body>
</html>