<!doctype html>
<html>
  <body>
  <head>

  <style>
      /* .center{
        
        width: 980px;
        border: 3px solid;
        padding: 10px;
        color: black;
        background-color: yellow;
        text-decoration: none;
        font-family: Arial;
        font-size: 21px;
        text-align: center;
      } 
      #center > a{
        text-decoration: none ;
        font-size: 21px;
        color: black; 
      } */
      a:hover{ 
        color: black;
        text-decoration: none ;
        background-color: #d6ff8c; 
      }
      #header{
        color: red;
        font-size: 23px;
        background-color: yellow;
      }
      #player4 {
        position: relative;
        background-image: url("cards.png");
        left: 402px;
        width: 200px;
        height: 100px;
        /*right: 12px;*/
        border: 3px solid #73AD21;
      }
      #score4 {
        position: relative;
        left: 402px;
        top: -135px;
      }
      #score3 {
        position: relative;
        left: 715px;
        bottom: -70px;
      }
      #player3 {
        position: relative;
        background-image: url("cards.png");
        left: 710px;
        top: 65px;
        width: 200px;
        height: 100px;
        border: 3px solid #73AD21;
      }
      #player2 {
        position: relative;
        background-image: url("cards.png");
        left: 120px;
        bottom: 60px;
        width: 200px;
        height: 100px;
        border: 3px solid #73AD21;
      }
      #score2 {
        position: relative;
        left: 120px;
        bottom: 50px;
        color: red;
        font-size: 23px;
      }
      #player1 {
        background-image: url("cards.png");
        position: relative;
        left: 402px;
        width: 200px;
        height: 100px;
        border: 3px solid #73AD21;
      }
      #score1 {
        position: relative;
        left: 402px;
        bottom: -15px;
        color: red;
        font-size: 23px;
      }
      #table {
        background-image: url("table.jpg");
        position: relative;
        top: -325px;
        left: 350px;
        width: 320px;
        height: 160px;
        border: 3px solid #73AD21;
      }
      #table > a{
        color: yellow;
        text-align: center;
      }
      .game{
        margin: auto;
            width: 72%;
            border: 3px solid;
            padding: 10px;
      }
      p1 > a, p1> a:hover, p1> a:active{
        text-decoration: none ;
        font-size: 20px;
        color: black;      
      }
      .center
        {
            margin: auto;
            width: 72%;
            border: 3px solid;
            padding: 10px;
            text-align: center;
        }
        h1 
        { 
            text-align: center;
            font-size: 27px; 
            font-family: Courier New;
            color: red; 
        }
        .card {
          display: block;
          float: left;
          margin-right: 10px;
          border: 1px solid gray;
          border-radius: 2px;
          height: 40px;
          width: 20px;
          background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7); /* image is "Pattern 069" from http://www.squidfingers.com/patterns/ */
        }
        .JD { 
          background-image: url(faces/JD.gif);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; 
        };
  </style>

  <title>Game Room</title>
  <h1>Lobby:</h1>
  <div class="center">
      <p1>
        <a href="/">Home page</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/account">My account</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/game">New game</a>&nbsp&nbsp&nbsp&nbsp
          <% if(users.admin){ %>
              <a href="/players">Players</a>&nbsp&nbsp&nbsp&nbsp
        <% } %>
        <a href="/credits">Credits</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/logout">Signout</a>&nbsp&nbsp&nbsp&nbsp
      </p1>
  </div>
    
  </head>
    <div class="game">
    <!-- <h1>Game Lobby</h1> -->
    <div id="message">
        Waiting for players...
    </div></br>
    
    <div id="wrapper">
    <!-- <canvas id="screen" width="620" height="620"></canvas> -->
          <div id="player4" class="hand">
              Player4
          </div>
          <div id="score4">
              0
          </div>
          <div id="player3" class="hand">
              Player3
          </div>
          <div id="score3">
              0
          </div>
          <div id="player2" class="hand">
              Player2
          </div>
          <div id="score2">
              0
          </div>
          <div id="player1" class="hand">
              Player1
          </div>
          <div id="score1">
              0
          </div>
          <div id="table" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div></div>
    <button onclick="myFunction()">Click me</button>
    
  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->
  <script type="text/javascript" src="dealer.js"></script>
  <script>
      
      // var socket = io();
      
      function myFunction(){    
          document.getElementById("table").innerHTML = '';
          // alert(document.getElementById("table").innerHTML); 
      }
      
      function allowDrop(ev) {
          ev.preventDefault();
      }

      function drag(ev) {
          ev.dataTransfer.setData("text", ev.target.id);
      }

      function drop(ev) {
          ev.preventDefault();
          var cardId = ev.dataTransfer.getData("text");
          var card = document.getElementById(cardId);
          console.log('card', card);
          ev.target.appendChild(card);
          document.getElementById('table').removeChild(card);
          window.playCard(card.text);
      }

  </script>


  </body>
</html>