<html>
<style>
body{ background-color: red; background-repeat: no-repeat; }
h1 { font-size: 24px; color: white; }
a { font-size: 20px; background-color: white; }
a:hover { background-color: yellow; }
</style>
<title> 404  </title>
<strong><a href="/logout"> Sign out </a></strong>
<h1>Sorry you do not have enough coins to play!</h1>
</html>