 <html>
 <body>
 <label for="user" font-size="46px">Username:</label>
 <input name="user" type="text" id="user"
 value="<%= users.username %>" readonly="readonly" autocomplete="off"/> </br>
 
 <label for="user" font-size="46px">First Name:</label>
 <input name="user" type="text" id="user"
 value="<%= users.fname %>" readonly="readonly" autocomplete="off"/> </br>

 <label for="user" font-size="46px">Last Name:</label>
 <input name="user" type="text" id="user"
 value="<%= users.lname %>" readonly="readonly" autocomplete="off"/> </br> </br> </br>
 </body>